.container_main{
	background-image: url(img/4940019.jpg);
	background-repeat: repeat;
}

.blockquote-custom {
  position: relative;
  font-size: 1.1rem;
}


.blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -40px;
  left: 19px;
}
