{% extends "layout.html" %}

{% block title %}homepage{% endblock %}

{% block content %}

    <h1>#HASHTAG</h1>

    <div class="row">
        <div class="col-12">
            <div class="card border-dark mb-3" style="height: 20rem;">
              <div class="card-header bg-transparent border-dark"><i class="fa-brands fa-apple"></i> {{ text }}</div>
              <div class="card-body text-dark">
                <h5 class="card-title">OTHER -</h5> <span><a href="#">https://twitter.com/tweet_url76ycıasghhsa </a></span>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content
                    ome quick example text to build on the card title and make up the bulk of the card's content.on the
                    on the card title and make up the bulk of the card's content. card title and make up the bulk of the card's content.</p>
              </div>
              <div class="card-footer bg-transparent border-dark">{{ tarih }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card border-danger mb-3" style="height: 20rem;">
              <div class="card-header bg-transparent border-danger"><i class="fa-brands fa-android"></i> {{ text }}jashgdjashgdjhasgh</div>
              <div class="card-body text-danger">
                <h5 class="card-title">SEXIST - </h5> <span><a href="#">https://twitter.com/tweet_url76ycıasghhsa </a></span>
                <p class="card-text"><span class="badge rounded-pill bg-info text-dark">kadın </span>bir yöneticinin <span class="badge rounded-pill bg-info text-dark">altında </span> çalışmak <span class="badge rounded-pill bg-info text-dark">erkeğe </span> yakışır mı</p>
              </div>
              <div class="card-footer bg-transparent border-danger">{{ tarih }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
                <div class="card border-danger mb-3" style="height: 20rem;">
                  <div class="card-header bg-transparent border-danger"><i class="fa-brands fa-apple"></i> {{ text }}</div>
                  <div class="card-body text-danger">
                    <h5 class="card-title">INSULT - </h5> <span><a href="#">https://twitter.com/tweet_url76ycıasghhsa </a></span>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                  <div class="card-footer bg-transparent border-danger">{{ tarih }}</div>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card border-danger mb-3" style="height: 20rem;">
              <div class="card-header bg-transparent border-danger"><i class="fa-brands fa-apple"></i> {{ text }}</div>
              <div class="card-body text-danger">
                <h5 class="card-title">RACIST - </h5> <span><a href="#">https://twitter.com/tweet_url76ycıasghhsa </a></span>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <div class="card-footer bg-transparent border-danger">{{ tarih }}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card border-danger mb-3" style="height: 20rem;">
              <div class="card-header bg-transparent border-danger"><i class="fa-brands fa-apple"></i> {{ text }}</div>
              <div class="card-body text-danger">
                <h5 class="card-title">PROFANITY - </h5> <span><a href="#">https://twitter.com/tweet_url76ycıasghhsa </a></span>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <div class="card-footer bg-transparent border-danger">{{ tarih }}</div>
            </div>
        </div>
    </div>

{% endblock %}